.quotes_container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

    
