.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('/public/verdantLandScapePicture.jpg') no-repeat center center; 
    background-size: cover;
  }

  .nav{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 450px;
    height: 150px;
    background-color:transparent ;
    border-radius: 20px;
    border: 1px solid var(--color2);
  }

  .nav:hover {
    cursor: pointer;
    background-color:var(--color2) ;
    color: var(--color1);
  }

  
  .link{
    color: #fff;
    font-family:var(--f1);
    font-size: 40px;
    font-style: italic;
    text-decoration: none;
    text-align: center;
  }

  