

.title{
    width: 100vw;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-align: center;
    color: #5A6E55 ;
}

@media (max-width: 1300px) {
    .title{
        font-size: 40px;
    }
  }