.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window_container {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.window_container.open {
    opacity: 1;
    max-height: 100%; /* Vous pouvez ajuster cette valeur selon vos besoins */
}

.window_button{
    height: 50px;
    width: 600px;
    background-color:var(--color2);
    color: var(--color1);
    border-radius: 20px;
    font-size: 40px;
    border-color: var(--color1);
    font-family: var(--f1);
  }
  .window_button:hover{
    background-color:var(--color1);
    color: var(--color2);
    border-color: var(--color2);
    cursor: pointer;

  }
.open_button_container{
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container{
    width: 100vw;
    height: 650px;
    display: flex;
    align-items: center;
}
.inputs_container{
    height: 650px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  
}


  
/**IMAGE**/
.img_container{
width: 50%;
height: 650px;
display: flex;
justify-content: center;
}
img{
    width: 750px;
    border: 2px solid var(--color1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}


/**INPUTS**/
.name_input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.input_title{
    font-size: 20px;
    margin-right: 20px;
    font-family: var(--f1);
}

.input_duration{
    width: 50px;
    height: 35px;
    border-radius: 10px;
    border:3px solid var(--color1);
    font-size: 20px;
    font-family: var(--f1);
}

.duration_input_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50%;
}
.duration_unit{
    font-size: 20px;
    margin-left: 10px;
}

.divider{
    width: 100%;
    border:1px solid var(--color1)
}

.calendar_container{
    display: flex;
    justify-content: center;
  }

/***BUTTONS***/
.buttons_container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
padding-top: 50px;}
.confirmButton_container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}
.cancelButton_container{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}





@media (max-width: 1300px) {
    .main_container{
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 300px;
    }
       .img_container{
        width: 100%;
        align-items: center;
        height: 250px;

    }
    .inputs_container{
        align-items: center;
        justify-content: center;
        width: 600px;
        height: 400px;
    }
 
    .buttons_container{
        height: 100px;
    }
  }