
.inputs_container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 100px;
    margin: 50px;
}

.input_duration{
    width: 450px;
    height: 35px;
    border-radius: 10px;
    border:3px solid var(--color1);
    font-size: 16px;
}

.input_title{
    font-size: 20px;
}

.buttons_container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.confirmButton_container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}
.cancelButton_container{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 1300px) {
    .inputs_container{
        flex-direction: column;
    }
  }