.button{
    height: 40px;
    width: 150px;
    font-size: 30px;
    border-radius: 20px;
    outline: none;
    color: #e0ddda;
    font-family:var(--f1);
}
.button:hover{
    cursor: pointer;
    color: #e0ddda;
    font-family:var(--f1);
}

