.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 1040px;
    width: 100vw;
    background: url('/public/verdantLandScapePicture.jpg') no-repeat center center; 
    background-size: cover;
  }

.form_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  border: 2px solid blue;
}

.text{
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #e0ddda;
  border: 2px solid green;
}
.input{
  height: 40px;
  width: 600px;
  border-radius: 10px;
  background-color: #e0ddda;
  font-size: 20px;
}

.submit_button{
  height: 60px;
  width: 400px;
  margin-top: 80px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  color:#e0ddda ;
  background-color: #5A6E55;
}

@media screen and (max-width:900px) {
  .input{
    width: 400px;
  }
  .text{
    font-size: 40px;
  }
}