.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('/public/verdantLandScapePicture.jpg') no-repeat center center; 
    background-size: cover;
  }


.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
  }

.form_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 600px;
}

.input_container{
  height:100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 400px;
}
.input{
   height: 40px;
  width: 600px;
   border-radius: 10px;
   border:none;
  font-size: 20px;
 }
.input, textarea{
  background-color: #e0ddda;
   }
.input, ::placeholder{
  padding-left: 10px;
  }

  .button_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
.submit_button{
    height: 60px;
    width: 400px;
    margin-bottom: 150px;
    font-size: 30px;
    font-family: var(--family);
     border-radius: 10px;
     border: none;
    color:#e0ddda ;
    background-color: #5A6E55;
    transition: background-color 0.6s, transform 0.6s ;
   }
.submit_button:hover{
  background-color:#e0ddda;
  color: #5A6E55;
}

/*---CALENDAR---*/

.calendar_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  height: 100%;
  padding-top: 400px;
}
.calendar_window{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.calendar-closed {
  max-height: 0;
}

.calendar-open {
  max-height: 400px; 
}
.window_button{
  height: 40px;
  width: 600px;
  background-color: #5A6E55;
  border:none;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #e0ddda;
  font-family: var(--f1);
}
.window_button:hover{
  background-color: #5A6E55;
  cursor: pointer;
}


.text{
  font-size: 70px;
  font-family:var(--f1);
  color:#e0ddda;
  text-align: center;
}

@media (min-width: 300px) and (max-width: 1350px) {
  .input{
    width: 400px;
  }
  .window_button{
    width: 400px;
  }
  .text{
    font-size: 45px;
    text-align: center;
  }
}
@media (max-width: 850px) {
  .form_container{
    flex-direction: column;
    height: 600px;
}
.input_container{
  height:100px;
  padding-top:100px ;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid green;
}
.calendar_container{
  height: 350px;
  padding-top:0px ;
  border: 2px solid blue;
}
}